<h1><%= @client.name.titleize %></h1>
<div class="row">
  <div class="col-sm-auto">
    <table class="table table-sm">
      <tbody>
        <tr>
          <td>Name</td>
          <td>
            <strong><%= @client.name %></strong>
          </td>
        </tr>
        <tr>
          <td>Birthdate</td>
          <td>
            <strong><%= @client.birthdate %></strong>
          </td>
        </tr>
        <tr>
          <td>Contact Number</td>
          <td>
            <strong><%= @client.contact_number %></strong>
          </td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>
            <strong><%= @client.occupation %></strong>
          </td>
        </tr>
        <tr>
          <td>Address</td>
          <td>
            <strong><%= @client.address %></strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-8">
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
        <tr>
          <th>
            Blood Pressure
          </th>
          <th>
            Heart Rate
          </th>
          <th>
            Weight
          </th>
          <th>
            Date Recorded
          </th>
        </tr>
      </thead>
      <tbody>
        <% if @client.client_records.any? %>
          <% @client.client_records.each do |cr| %>
            <tr class="<%= cr.has_todays_record? ? 'table-warning' : nil %>">
              <td><%= cr.blood_pressure %></td>
              <td><%= cr.heart_rate %> bpm</td>
              <td><%= cr.weight %> kgs</td>
              <td><%= cr.created_at.strftime('%A, %B %e, %Y') %></td>
            </tr>
            <% if cr.findings || cr.remarks %>
              <tr class="<%= cr.has_todays_record? ? 'table-warning' : nil %>">
                <td colspan="2">
                  <strong>Findings</strong>
                  <div><%= cr.findings.html_safe %></div>
                </td>
                <td colspan="2">
                  <strong>Remarks</strong>
                  <div><%= cr.remarks.html_safe %></div>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr>
            <td class="text-center" colspan="4">No records yet.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
