<div class="row">
  <div class="col-sm-4">
    <h1><%= @client.name.titleize %></h1>
    <table class="table table-sm">
      <tbody>
        <tr>
          <td>Name</td>
          <td>
            <strong><%= @client.name %></strong>
          </td>
        </tr>
        <tr>
          <td>Birthdate</td>
          <td>
            <strong><%= @client.birthdate %></strong>
          </td>
        </tr>
        <tr>
          <td>Contact Number</td>
          <td>
            <strong><%= @client.contact_number %></strong>
          </td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>
            <strong><%= @client.occupation %></strong>
          </td>
        </tr>
        <tr>
          <td>Address</td>
          <td>
            <strong><%= @client.address %></strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-8">
    <%= render partial: 'admin/client_records/table', locals: { client: @client } %>
  </div>
</div>
<div id="modalContainer">
</div>
