<h1>Welcome to MedServ</h1>
<p>A public service record management app</p>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="mb-4">
        <%= form_tag url_for(action: :index, format: :js), remote: true, method: :get do %>
          <div class="d-flex">
            <%= hidden_field_tag :starts_from, params[:starts_from] %>
            <%= hidden_field_tag :ends_to, params[:ends_to] %>
            <%= text_field_tag :date_filter, params[:date_filter], class: 'form-control mr-3' %>
            <%= button_tag 'Filter', class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="stats">
    <%= render partial: 'landing/stats_cards' %>
  </div>
</div>
<script>
  $(document).ready(function() {
    var field = $('input[name="date_filter"]')
    field.daterangepicker();

    field.on('apply.daterangepicker', function(ev, picker) {
      $('input[name="starts_from"]').val(
        picker.startDate.format('YYYY-MM-DD')
      );
      $('input[name="ends_to"]').val(
        picker.endDate.format('YYYY-MM-DD')
      );
    });
  });
</script>
