<h1>Welcome to MedServ</h1>
<p>A public service record management app</p>

<div class="container">
  <div class="d-flex">
    <div class="card mr-3 mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <div class="mr-3 align-self-center">
            <div class="align-self-center">
              <div class="d-flex flex-row">
                <span class="fa fa-2x fa-arrow-circle-<%= @stats[:direction] %> align-self-center"></span>
                <h1 class="display-4 mb-0 align-self-center"><%= @stats[:count] %></h1>
              </div>
              <div class="text-right">
                <span class="mr-2"><%= @stats[:prev] %></span>|<span class="ml-2 mr-2"><%= @stats[:diff_percentage] %><span>
              </div>
            </div>
          </div>
          <div class="align-self-center">
            <h5 class="card-title h3 mb-0">Medical Service</h5>
            <p class="card-text">
              <small class="text-muted">
                <i class="fa fa-calendar"></i> <%= @stats[:range] %>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mr-3 mb-3">
      <div class="card-body">
        <div class="d-flex justify-content-center">
          <div class="mr-3 align-self-center">
            <div class="align-self-center">
              <div class="d-flex flex-row">
                <span class="fa fa-2x fa-arrow-circle-up align-self-center"></span>
                <h1 class="display-4 mb-0 align-self-center">0</h1>
              </div>
              <div class="text-right">
                <span class="mr-2">0</span>|<span class="ml-2 mr-2">+0%<span>
              </div>
            </div>
          </div>
          <div class="align-self-center">
            <h5 class="card-title h3 mb-0">Blood Donation Drive</h5>
            <p class="card-text"><small class="text-muted"><i class="fa fa-calendar"></i> -- - --</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
