<%= f.hidden_field :country_dial_code %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Juan Dela Cruz', class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :birthdate %>
  <%= f.text_field :birthdate, placeholder: '1987-04-15', class: 'form-control date' %>
</div>
<div class="form-group">
  <%= f.label :contact_number %>
  <%= f.text_field :contact_number, class: 'form-control phone' %>
</div>
<div class="form-group">
  <%= f.label :occupation %>
  <%= f.text_field :occupation, placeholder: 'Housekeeper', class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :address %>
  <%= f.text_field :address, placeholder: '#8 Commonwealth Lane 24434', class: 'form-control' %>
</div>
<script>
  var input = document.querySelector('.phone');
  var iti = window.intlTelInput(
    input, {
      initialCountry: 'sg',
      preferredCountries: ['sg', 'ph', 'au', 'id', 'my', 'in']
    }
  );
  input.addEventListener('countrychange', function() {
    var selectedCountry = iti.getSelectedCountryData();
    $('input[name="client[country_dial_code]"]').val(
      selectedCountry.dialCode
    );
    $('.phone').mask('+' + selectedCountry.dialCode + '0#');
  });
  $('.date').mask('0000-00-00');
  $('.phone').mask('+650#');
</script>
