<div class="form-group">
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: 'bro-jon@untvsg.com', class: 'form-control email' %>
</div>
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, placeholder: 'Password', class: 'form-control' %>
</div>
